
.title {
    width: 720px;
    background: #fff;
    padding: 40px 30px 30px 30px;
    box-sizing: border-box;
}

.title > p {
    font-size: 24px;
    color: #333;
    margin-top: 30px;
}

.title > h2 {
    font-weight: normal;
    font-size: 30px;
    color: #333;
}

div.content > a {
    display: block;
    background: #fff;
    width: 720px;
    padding: 0 30px;
    box-sizing: border-box;
    height: 96px;
    line-height: 96px;
    position: relative;
    font-size: 28px;
    color: #333;
}

div.content {
    margin-top: 20px;
}

div.content > a:first-of-type {
    border-bottom: 1px solid #e1e1e1;
}

div.content > a > span {
    color: #ed751a;
    position: absolute;
    right: 70px;
    top: 0;
}

div.content > a > i {
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -12px;
    width: 14px;
    height: 24px;
    background: url("go.png") no-repeat;
}

.shenshu {
    font-size: 24px;
    color: #999;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.shenshu > a {
    color: #ed751a;
    text-decoration: underline;
}